* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #dac2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.launchpad {
  max-width: 290px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: inset -11px -5px 20px 4px rgba(212, 212, 212, 0.82), 20px 16px 52px 5px rgba(0, 0, 0, 0.3); }
  .launchpad__grid {
    display: flex;
    flex-wrap: wrap; }
  .launchpad__control {
    padding: 15px;
    /* height: 30px; */
    display: flex;
    -webkit-box-align: center;
    /* justify-content: flex-end; */
    align-items: center;
    width: 70%; }
  .launchpad__label {
    margin-left: 20px;
    font-family: "Trebuchet MS";
    color: #252525a6;
    font-size: 14px; }
  .launchpad__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .09s ease;
    border: 3px outset #6d8cff96; }
    .launchpad__btn::before {
      position: absolute;
      left: -100%;
      content: attr(data-tooltip);
      padding: .2em 1em;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      transform: scale(0);
      transform-origin: 100% 0;
      transition: all .1s ease;
      background: #292731;
      font-size: 10px;
      border-radius: 10px;
      font-weight: 400;
      color: #fff;
      font-style: italic; }
    .launchpad__btn:hover:before {
      transform: scale(1); }
    .launchpad__btn.playing {
      transform: scale(1.3);
      box-shadow: 0 0 50px 0px #ad39b7, inset 0 0 40px 10px rgba(220, 11, 247, 0.5), inset 0 0 8px 14px #f954ff82;
      background: white;
      border-style: inset;
      border-color: rgba(220, 11, 247, 0.42); }
    .launchpad__btn span {
      color: #6d8cff96; }

.switch input {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.switch {
  width: 100px;
  height: 34px;
  position: relative; }

.switch label {
  display: block;
  width: 80%;
  height: 100%;
  position: relative;
  background: #1F2736;
  background: linear-gradient(#f7f7f7, #ffffff);
  border-radius: 30px 30px 30px 30px;
  box-shadow: inset 0 3px 8px 1px rgba(191, 191, 191, 0.5), inset 0 1px 0 white, 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer; }

.switch input ~ label i {
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  border-radius: inherit;
  background: #283446;
  background: linear-gradient(to top right, #d2d2d2, #ffffff);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.switch label + span {
  content: "";
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 8px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #ffffff;
  background: gradient-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(204, 204, 204, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgba(185, 231, 253, 0), inset 0 0 8px rgba(232, 232, 232, 0.9), inset 0 -2px 5px rgba(255, 255, 255, 0.3), inset 0 -5px 5px rgba(245, 245, 245, 0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2; }

/* Toggle */
.switch input:checked ~ label + span {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
  background: #f3b9fe;
  background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px #fd64f1, inset 0 0 8px rgba(61, 67, 247, 0.44), inset 0 -2px 5px rgba(246, 185, 253, 0.3), inset 0 -3px 8px rgba(239, 185, 253, 0.5); }

.switch input:checked ~ label i {
  left: auto;
  left: 63%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), inset -1px 0 1px #e3b9fe;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
